<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teach.vietnam.asia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!--
     <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    -->
    <!-- TestActivity SplashActivity -->
    <!--
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    -->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.alphabet.AlphabetActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.number.NumberActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.body.BodyActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.search.SearchAllActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".view.color.ColorActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.foods.FoodActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.grammar.GrammarActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.grammar.detail.GrammarDetailActivity"
            android:parentActivityName=".view.grammar.GrammarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.practice.PracticeActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.practice.detail.PracticeDetailActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait"/>
        <!--<activity-->
        <!--android:name=".view.recognize.RecognizeMainActivity"-->
        <!--android:parentActivityName=".view.dashboard.DashboardActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/MyTheme" />-->
        <activity
            android:name=".view.search.SearchWordsActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.test.AndroidDatabaseManager"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".view.translate.TranslateActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.word.WordActivity"
            android:parentActivityName=".view.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.recognizes.RecognizeMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.recognizes.test.RecognizeTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.phrase.Phrases2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

    </application>

</manifest>